# Python
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo

# Virtual env
venv/

# Database
db.sqlite3

# Env files
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Django migrations (optional)
*/migrations/*
!*/migrations/__init__.py